<header class="p-3 header text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-shop"></i>

      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" routerLink="/home" class="nav-link px-2 text-white font-weight-bold">Administracion Productos</a></li>
        <li><a href="#" routerLink="/listadoProductos" class="nav-link px-2 text-white">Ver Productos</a></li>
        <li><a href="#" routerLink="/listadoCategorias" class="nav-link px-2 text-white">Ver Categorías</a></li>
      </ul>

      <div class="text-end">
        <button type="button" routerLink="/producto" class="btn btn-light me-2">Categoria</button>
        <button type="button" routerLink="/categoria" class="btn btn-light">Producto</button>
      </div>
    </div>
  </div>
</header>