<div class="container">

    <div class="card border-info mb-3">

        <div class="card-header text-primary">

            <h2 class="text-center">
                {{titulo}}
            </h2>

        </div>

        <div class="card-body text-primary table-responsive">
            <form action="">
                <div class="mb-3">
                    <label for="nombre">Nombre de la categoría</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" required [(ngModel)] = "newCategoria.nombreCategoria">
                </div>

                <div class="mb-3">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" required [(ngModel)] = "newCategoria.descripcionCategoria">
                </div>
                <div class="mb-3">
                    <button class="btn-primary form-control" (click)="actualizarCategoria()">Añadir</button>
                </div>
            </form>
        </div>

    </div>

</div>