<div class="container">

    <div class="card border-info mb-3">

        <div class="card-header text-primary">

            <h2 class="text-center">
                {{titulo}}
            </h2>

        </div>

        <div class="card-body text-primary table-responsive">
            <form action="">
                <div class="mb-3">
                    <label for="nombre">Nombre del producto</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" required [(ngModel)] = "producto.nombreProducto">
                </div>
                <div class="mb-3">
                    <label for="descripcion">Descripción del producto</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" required [(ngModel)] = "producto.descripcionProducto">
                </div>
                <div class="mb-3">
                    <label for="precio">Precio del Producto (en pesos mexicanos)</label>
                    <input type="number" class="form-control" name="precio" id="precio" required [(ngModel)] = "producto.precioProducto">
                </div>
                <div class="mb-3">
                    <label for="existencia">Productos en existencia</label>
                    <input type="number" class="form-control" name="existencia" id="existencia" required [(ngModel)] = "producto.existencia">
                </div>
                <div class="mb-3">
                    <select name="categoriaSelect" id="categoriaSelect" [(ngModel)]="idCatSel">
                        <option value="0">Categoría</option>
                        <option *ngFor="let categoria of listaCategorias" value="{{categoria.idCategoria}}">{{categoria.nombreCategoria}}</option>
                      </select>
                </div>
                
                <div class="mb-3">
                    <button class="btn-primary form-control" (click)="almacenarProducto()">Añadir</button>
                </div>
            </form>
        </div>

    </div>

</div>