<div class="mb-3">

    <div class="container">

        <div class="card border-success mb-3">

            <div class="card-header">

                <h2 class="text-center">
                    {{titulo}}
                </h2>

            </div>

            <div class="card-body text-primary table-responsive">

                <div class="my-2 text-left">

                    <button class="btn btn-primary" type="button" routerLink="/producto">
                        <i class="fa-solid fa-layer-group"></i>
                        Registrar producto
                    </button>

                </div>

                <table class="table table-striped mt-5">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Existencia</th>
                            <th>Fecha</th>
                            <th>Categoria</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                   <tbody>
                       <tr *ngFor="let producto of listaProductos">
                           <td>{{producto.idProducto}}</td>
                           <td>{{producto.nombreProducto}}</td>
                           <td>{{producto.descripcionProducto}}</td>
                           <td>{{producto.precioProducto}}</td>
                           <td>{{producto.existencia}}</td>
                           <td>{{producto.fechaCreacion}}</td>
                           <td>{{producto.idCategoria.nombreCategoria}}</td>
                           <td>
                               <button type="button" name="actualizar" [routerLink]="['/producto', producto.idProducto]" class="btn btn-success btn-sm">
                                <i class="fa-solid fa-pen"></i>
                                Actualizar
                               </button>
                           </td>
                           <td>
                            <button type="button" name="eliminar" (click)="eliminar(producto)" class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-circle-minus"></i>
                                Eliminar
                               </button>
                           </td>
                       </tr>
                       
                   </tbody>

                </table>

            </div>

            

        </div>

    </div>

</div>